@import '../../../styles/variables';

.notification {
    position: fixed;
    top: 15%;
    left: 41%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: $spacing-md $spacing-lg;
    border-radius: 8px;
    font-weight: 500;
    color: $white-color;
    z-index: 1000;
    max-width: 320px;
    min-width: 240px;
    animation: fadeIn 0.3s ease-in-out;

    &.success {
        background-color: $success-color;
    }

    &.error {
        background-color: $danger-color;
    }
}

.notification-content {
    flex: 1;
    margin-right: $spacing-md;
}

.notification-close {
    background: transparent;
    border: none;
    font-size: $spacing-lg;
    color: $white-color;
    cursor: pointer;
    line-height: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
