@use '../../../styles/variables' as *;

.form-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    max-width: 400px;
    width: 100%;
    padding: $spacing-lg;
    background-color: $white-color;
    border-radius: 8px;
    box-shadow: 0 4px 12px $box-shadow-primary;

    h2 {
        text-align: center;
    }
}
