@import '../../../styles/variables';

.hyperlink-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: $spacing-md;
}

a {
    color: $primary-color;
    text-decoration: none;
    position: relative;
    font-weight: $font-weight-semi-bold;
    transition: color 0.3s ease;

    &:hover,
    &:focus {
        color: $hyperlink-hover;
        outline: none;
    }
}
